@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

:root {
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
  --paragraph: 16px;
}
body {
  min-height: 100vh;
  width: 100%;
  font-size: var(--paragraph);
  font-weight: 500;
  color: var(--almost-black);
  font-family: "Epilogue", sans-serif;
}

img {
  max-width: 100%;
}

/*
BUTTONS */
.outlined-btn, .transparent-btn {
  border-radius: 15px;
  color: var(--medium-gray);
  cursor: pointer;
  padding: 1rem 2rem;
  background-color: transparent;
}
.transparent-btn{
  border: none;
}
.transparent-btn:hover{
color: var(--almost-black);
font-weight: 700;
}
.outlined-btn{
  border: 1px solid var(--almost-black);

}
.outlined-btn:hover {
  font-weight: 700;
  color: var(--almost-black);

}
.primary-btn{
  background-color: var(--almost-black);
  border-radius: 10px;
  width: fit-content;
  color: var(--almost-white);
  padding: 1rem 2 rem;
  cursor: pointer;
}
.primary-btn:hover {
  background-color: var(--almost-white);
  font-weight: 700;
  border: 1px solid var(--almost-black);
  color: var(--almost-black);
}


/* navbar style */
nav{
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 3rem;
}
.nav-left {
  display: flex;
  align-items: center;
}
.nav-links{
  display: flex;
  list-style: none;
  margin-left: 4rem;
  gap: 1.5rem;
}
.nav-links li{
  cursor: pointer;
  color: var(--medium-gray);
  display: flex;
  align-items: center;
  gap: 5rem;
  position: relative;
  user-select: none;
}

.nav-links li:hover{
  color: var(--almost-black);
}

.mobile-menu-btn{
  display: none;
}
.mobile-menu{
  display: none;
}

.sub-menu{
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: var(--almost-white);
  gap: 1rem;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.75)  ;
  padding:1rem ;
  border-radius: 10px;
}
.one{
  bottom: -170px;
  right: 0;
}
.two{
bottom: -136px;

}
.sub-menu .sub-link {
  display: flex;
  align-items: center;
  width: 150px;
  gap: .5rem;
}

.active .arrow{
  transform: rotate(180deg);
  transition: 0.2s;
}

.active-menu{
  display: flex !important;
}

/* main style */
main{
  display:flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);

}
.main-container {
  max-width: 1100px;
  display: flex;
  gap: 5rem;
  grid-template-columns: 1fr 1fr;
}
.main-left{
  display: felx;
  flex-direction: column;
  justify-content: space-evenly;
}
.main-heading{
  font-size:4em;
}

.main-content{
  font-size: 18px;
  line-height: 1.8;
  color: var(--medium-gray);
}

.logoes{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
@media screen and (max-width:800px){
  .nav-content {
    padding-inline: 1re,;
  }
  .mobile-menu{
    display: flex;
    cursor: pointer;
    z-index: 999;
  }
  .mobile-menu{
    display:none;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 70%;
    background-color: var(--almost-white);
    padding: 5rem 2 rem;
  }
  .mobile-links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style:none;
  }
  .mobile-links li {
    display: flex;
    columns: var(--medium-gray);
    flex-direction: column;
    cursor: pointer;
  }
  .mobile-links li p{
    display: flex;
    align-items: center;
  }
  .mobile-sub{
    display: none;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;

  }
  .overflow{
    background-color: black;
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 30%;
    opacity: .7;
  }
  .nav-links{
    display: none;

  }
  .nav-right{
    display: none;
  }
  main{
    align-items: flex-start;
  }
  .main-container{
    display: flex;
    flex-direction: column-reverse;
  }
  .main-left{
    align-items: center;
    text-align: center;
    gap: 2rem;
  }
  .main-heading{
    font-size: 2.2rem;
  }
  .main-heading br {
    display: none;
  }
  .logoes{
    width: 100%;
    padding-inline: 1rem;
    flex-wrap: wrap;
  }
}
