@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

:root {
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
  --paragraph: 16px;
}
body {
  font-size: var(--paragraph);
  font-weight: 500;
  color: var(--almost-black);
  font-family: "Epilogue", sans-serif;
}

img {
  max-width: 100%;
}


a {
  text-decoration: none;
}

.hidden {
  display: none;
}





.nav-right.show {
  right: 0;
}

.close-btn {
  display: flex;
  justify-content: end;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 2rem 0;
}
